* {
    user-select: none;
    -ms-user-select: none;
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
canvas {
    /* canvas 중앙 배치 */
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    /* background-color: rgba(175, 183, 255, 0.89); */
    background-color: transparent;
    border : 1px solid black;
    z-index: 1;
    width: 550px; 
    max-width: 550px; 
    min-width: 550px; 
    height: 400px; 
    max-height: 400px; 
    min-height: 400px; 
    --waf-content-width:550px; --waf-content-height:400px;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
}
div {
    z-index: 10;
}

/* 맵 image */
#mapImage {
    /* canvas 와 동일하게 중앙 배치 */
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    width : 550px;
    height :400px;
}

/* 상태바 */
#progressBar, #infoBar{  
    height: 30px;
    width : 550px;
    position: relative;
    background-color: black;
    text-align: center;
}
.progressContext, .infoContext{
    display: inline;
    font-family: 'Hanna', sans-serif;
    color: white;
    font-size: 20px;
}
#menu {
    margin-left: 0px;
}
#mapLevel {
    margin-left: 170px;
}
#deaths {
    margin-left: 145px;
}
#howToPlay {
    margin-left: 0px;
}
#developer {
    margin-left: 240px;
}