* {
    margin: 0;
    padding: 0;
}
canvas {
    /* canvas 중앙 배치 */
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);

    border : 1px solid black;
    width: 600px;
    height: 400px;
}